.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}

.shopcategory-indexSort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}


.shopcategory-indexSort p span {
  font-weight: 600;
}

.shopcategory-products {
  margin: 20px 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
}

.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.psc_light{
  color:white;
}
.op_light{
  color: white;
}

@media screen and (max-width:768px) {
  .shopcategory-banner{
    margin: 0;
    width: 100vw;
    height: 130px;
  }
  .shopcategory-indexSort{
    margin: 10px;
  }
  .shopcategory-products{
    margin: 20px;
    grid-template-columns: 1fr;
  }
  .shopcategory-loadmore{
    margin: 30px;
  }
}


.span_light{
  color: white;
}

.span_dark{
  color: black;
}



/* ShopCategorySort.css */

.shopcategory-sort_light {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  span{
    color: white;
  }
}

.shopcategory-sort_dark {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  span{
    color: black
  }
}

.shopcategory-sort_light select,
.shopcategory-sort_dark select {
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.shopcategory-sort_light select:focus,
.shopcategory-sort_dark select:focus {
  outline: none;
  border-color: #007bff; /* Adjust focus border color */
}

@media screen and (max-width: 768px) {
  .shopcategory-sort_light,
  .shopcategory-sort_dark {
    flex-direction: column;
  }

  .shopcategory-sort_light select,
  .shopcategory-sort_dark select {
    margin-left: 0;
    margin-top: 5px;
    width: 100%;
  }
}

